.container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #eed;
    padding: 30px;
}
.button-container{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
